// bower:scss
@import "../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$green: #7fb24f;
$dark-green: darken($green, 10%);

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
}

.hero {
  background-image: url(../images/hero-bg.png);
  padding: 9em 0  3em;

  .tagline {
    margin-bottom: 5em;

    h1 {
      font-size: 3em;
      margin-top: 0;
    }

    p {
      font-size: 1.7em;
    }
  }
}

.beta-invite {
  margin-bottom: 2em;
  min-height: 150px;

  .beta-invite-desc {
    margin-bottom: 1em;
  }

  #request-invite-btn {
    font-size: 15px;
    @include button-variant(#fff, $green, $green); 
  }

  #thankyou {
    border: 2px dashed $dark-green;
    font-size: 1.3em;
    font-weight: bold;
    color: $dark-green;
  }
}

.container {
  width: 840px;
}

.feature-highlights {
  background-color: $green;
  box-shadow: 0 -5px 5px #9a9a9a;
  padding: 1em 0 2em;
  color: #fff;

  h2 {
    text-shadow: 1px 2px 3px $green, 0 0 1px #111;
  }

  p {
    text-shadow: 1px 1px 5px $green, 0 0 1px #222;
  }
}

.footer {
  border-top: 1px dotted #aaa;
  padding: 1em 0;
}