// bower:scss
@import "../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$green: #7fb24f;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
}

.hero {
  background-image: url(../images/hero-bg.png);

  .tagline {
    margin-top: 7.2em;
    margin-bottom: 5em;

    h1 {
      font-size: 3em;
    }

    p {
      font-size: 1.7em;
    }
  }
}

.beta-invite {
  margin-bottom: 2em;

  .beta-invite-desc {
    margin-bottom: 1em;
  }

  #request-invite-btn {
    font-size: 15px;
    @include button-variant(#fff, $green, $green); 
  }
}

.container {
  width: 840px;
}

.feature-highlights {
  background-color: $green;
  box-shadow: 0 -5px 5px #9a9a9a;
  padding-bottom: 2em;
  color: #fff;
}

.footer {
  border-top: 1px dotted #aaa;
  padding: 1em 0;
}